#map {
  height: 100vh;
  width: 100%;
}

/* ----- SIDEBAR ----- */
.sidebar {
  position: absolute;
  left: 10px;
  bottom: 10%;
  width: 200px;
  height: 60%;
  box-shadow: 2px 0 10px rgba(238, 233, 233, 0.2);
  padding: 20px;
  background-color: rgb(238, 218, 241);
  transform: translateX(-100%);
  transition: 0.35s ease;
  z-index: 9999;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-content {
  overflow-y: auto;
  height: 80%;
  width: 107%;
}

.sidebar-toggle {
  position: absolute;
  left: 10px;
  bottom: 50px;
  z-index: 10000;
  background: #582e9c;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

#legend {
  margin-top: 15px;
  font-family: Arial, sans-serif;
}

.legend-section-title {
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
  color: #440358;
}

.legend-content {
  margin-left: 0;
  padding-left: 5px;
  display: block;
  color: #440358;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.legend-color {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  margin-right: 8px;
  border: 1px solid #1b068fe1;
}

.legend-label {
  font-size: 10px;
  color: #dffcf3;
}

.legend-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
